<h1>Bugs</h1>
<hr>
<table class='table table-bordered'>
  <tr class='table-dark'>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Bug Type</th>
    <th>Status</th>
    <th>Solver Name</th>
    <th>Secreenshot</th>
    <th>Actions</th>
  </tr>

  <% @bugs.each do |bug| %>
    <tr>
      <td><%= bug.title %></td>
      <td><%= bug.description %></td>
      <td><%= bug.deadline %></td>
      <td><%= bug.bug_type%></td>
      <td><%= bug.status %></td>
      <td><%= bug&.solver&.name %></td>
      <% if bug.screnshots.attached? %>
        <td>
        <% bug.screnshots.each do |screnshot| %>
          <%= render 'display_image', screnshot: screnshot %>
        <% end %>
        </td>
      <% else %>
        <td><p>No image added</p></td>
      <% end %>
      <td><%= link_to bug_label(bug), update_solver_developer_project_bug_path(bug.project_id, bug), method: :patch, remote: true, class: "btn btn-danger #{can_assign_bug?(bug) ? '' : 'disabled'}"
        %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @bugs %>
