<h1>Bugs</h1>
<hr>
<table class='table table-bordered'>
  <tr class='table-dark'>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Bug_Type</th>
    <th>Status</th>
    <th>Solver Name</th>
    <th colspan="2">Possible Actions</th>
  </tr>

  <% @bugs.each do |bug| %>
    <tr>
      <td><%= bug.title %></td>
          <td><%= bug.description %></td>
          <td><%= bug.deadline %></td>
          <td><%= bug.bug_type%></td>
          <td><%= bug.status %></td>
          <td><%= bug&.solver&.name %></td>
          <td><%= link_to 'Edit Bug', edit_developer_project_bug_path(bug.project_id, bug), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
</table>


