<div class="row">
  <h1>Create a new Bug</h1>
  <div class="col-md-12">
    <%= form_for @bug, url: {action: 'update'} do |f| %>
      <%= f.hidden_field :solver_id %>
      <div class='form-group mb-3'>
        <div class='control-label col-md-8'>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control', placeholder: 'Title of the bug', autofocus: true %>
        </div>
      </div>
      <div class='form-group mb-3'>
        <div class='control-label col-md-8'>
          <%= f.label :description %>
          <%= f.text_area :description, rows: 5, class: 'form-control', placeholder: 'Enter description' %>
        </div>
      </div>

      <div class='form-group mb-3'>
        <div class='control-label col-md-8'>
          <%= f.label :Deadline %>
          <%= f.date_field :deadline, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
        </div>
      </div>

      <div class='form-group mb-3'>
        <div class='control-label col-md-2'>
          <%= f.label :Select_Type %>
        </div>
          <div class='col-md-8 bugtype'>
            <%= f.collection_select :bug_type, Bug::bug_types.values, :to_s, :titlecase, include_blank: true, class:'form-control' %>
          </div>
      </div>

      <div class='form-group mb-3 status_type'>
        <div class='control-label col-md-2'>
          <%= f.label :Status %>
        </div>
        <div class='col-md-8'>
         <%= f.collection_select :status, Bug::statuses.values, :to_s, :titlecase, {include_blank: true}, multiple: false, class: 'select2 form-control statustype' %>
        </div>
      </div>

      <div class='form-group mb-3'>
        <div class='control-label col-md-8'>
          <%= f.label :Screenshot %>
          <%= f.file_field :screnshots, multiple: true, class: 'form-control' %>
        </div>
      </div>

      <div class='form-group mb-3'>
        <div class='col-md-offset-2 col-md-10'>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>

    <div class='col-md-4 col-md-offset-4'>
      <%= link_to 'Back', qa_project_bug_path(@bug.project_id), class: 'btn btn-success' %>
    </div>
    <% end %>
  </div>
</div>

