<%= form_for [:manager, @project], method: :put do |f| %>
  <%= render partial: "manager/projects/errors" %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div><br>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div><br>
  <div class="form-group">
    <%= f.label :user_ids, 'Select User' %>
    <%= f.collection_select :user_ids, @user.all, :id, :display_users, {include_blank: true}, multiple: true, class: "select2 form-control" %>
  </div><br>
  <div class="form-group">
    <%= f.label :manager_id %><br>
    <%= f.text_field :manager_id, readonly: true, class:"form-control" %>
  </div><br>
  <div class="form-group">
    <%= f.submit 'Update', class:"btn btn-success"%>
    <%= link_to 'Back', manager_projects_path, class:"btn btn-primary" %>
  </div>
<% end %>


