<%= link_to "Create new project", new_manager_project_path, class: "btn btn-xs btn-primary" %>
<p><hr></p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th , style="text-align: center;">Name</th>
      <th , style="text-align: center;">Description</th>
      <th colspan="3", style="text-align: center;">Possible Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @project.each do |project| %>
      <tr>
        <td , style="text-align: center;"><%= project.title %></td>
        <td , style="text-align: center;"><%= project.description %></td>
        <td , style="text-align: center;"><%= link_to 'Edit Project', edit_manager_project_path(project), class:"btn btn-primary" %></td>
        <td , style="text-align: center;"><%= link_to "Show Project", manager_project_path(project), class:"btn btn-success" %></td>
        <td , style="text-align: center;"><%= link_to 'Delete Project', [:manager, project], method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-warning" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
