<p>
  <strong>Name:</strong>
  <%= @project.title %>
</p>
<p>
  <strong>Email:</strong>
  <%= @project.description%>
</p>
<p>
  <strong>Manager ID:</strong>
  <%= @project.manager_id%>
</p>

<%= link_to 'Edit', edit_manager_project_path(@project),class:"btn btn-success" %>
<%= link_to 'Back', manager_projects_path, class:"btn btn-primary" %>
