<% if current_user.projects.any? %>
  <h1>Project Assigned To <%= current_user.name %> </h1>
  <hr></hr>
  <table class='table table-bordered'>
    <thead class='table-dark'>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% current_user.projects.find_each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= link_to 'Show', [:developer, project], class: 'btn btn-success' %></td>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No projects assigned yet.</p>
<% end %>

<%= paginate @projects %>
